/* header.css */
/* .blurred-bg {
    background: url("../logo.svg") center/cover fixed no-repeat;
    backdrop-filter: blur(10px);
    position: relative;
    height:fit-content;
  } */
.logo {
    width: 40px;
    height: 40px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links a {
    color: #333; 
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #3224cd; 
  }
  
  .add-article-btn {
    background-color: #2e10c1; 
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .add-article-btn:hover {
    background-color: #ea6b00; 
  }
  
  .nav-links a {
    color: white; 
  }
 
  .logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
  }
  
  .tagline {
    font-size: 1rem;
    color: #666;
    margin-top: 0;
  }
  