.btn-block {
    background-color: #0a5e66;
    color: wheat;
    font-size:x-large;
}
.login-btn:hover {
    background-color: #0a5e66;
    color: aliceblue;
    
  }
/* login.css */
/* Ensure container covers full viewport height on small screens */
@media (max-height: 575px) {
    .container-fluid {
      min-height: 100vh;
    }
  }
  
  /* Add margin on top and bottom for small screens */
  @media (max-width: 767px) {
    .container-fluid {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
  