.btn-block {
    background-color: #0a5e66;
    color: wheat;
    font-size:x-large;
}
.login-btn:hover {
    background-color: #0a5e66;
    color: aliceblue;
    
  }

  .container-login{
    min-height: 100vh;
  }

@media (max-height: 575px) {
    .container-fluid {
      min-height: 100vh;
    }
  }
  
  @media (max-width: 767px) {
    .container-fluid {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
  